@{
    Layout = null;
}

<link href="~//AdminLTE-3.0.4/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />



@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@Html.Partial("/Views/AdminLayout/PartialHead.CsHtml")
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        @Html.Partial("/Views/AdminLayout/PartialNavbar.CsHtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @Html.Partial("/Views/AdminLayout/PartialSideBar.CsHtml")

        <!-- Content Wrapper. Contains page content -->
        
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            @RenderBody()
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->

        @Html.Partial("/Views/AdminLayout/PartialFooter.CsHtml")

        <!-- Control Sidebar -->

        <!-- /.control-sidebar -->
        @Html.Partial("/Views/AdminLayout/PartialScript.CsHtml")
    
</body>
</html>


